#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
# Ubuntu and Debian's packaging of nvidia's proprietary driver differ greatly
ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	dh_auto_configure -- \
		CONF_DRIVER_MODULE_NVIDIA=nvidia-current \
		CONF_LDPATH_NVIDIA=/usr/lib/nvidia-current:/usr/lib32/nvidia-current \
		CONF_MODPATH_NVIDIA=/usr/lib/nvidia-current/xorg,/usr/lib/xorg/modules \
		CONF_PRIMUS_LD_PATH=/usr/lib/x86_64-linux-gnu/primus:/usr/lib/i386-linux-gnu/primus
else
	dh_auto_configure -- \
		CONF_DRIVER_MODULE_NVIDIA=nvidia-current \
		CONF_LDPATH_NVIDIA=/usr/lib/x86_64-linux-gnu/nvidia:/usr/lib/i386-linux-gnu/nvidia:/usr/lib/nvidia \
		CONF_MODPATH_NVIDIA=/usr/lib/nvidia,/usr/lib/xorg/modules \
		CONF_PRIMUS_LD_PATH=/usr/lib/x86_64-linux-gnu/primus:/usr/lib/i386-linux-gnu/primus:/usr/lib/primus:/usr/lib32/primus
endif

override_dh_auto_install:
	dh_auto_install --destdir=debian/bumblebee/
	
	# Install bash-completion file to non-obsolete directory
	mkdir -p debian/bumblebee/usr/share/bash-completion/completions/
	mv debian/bumblebee/etc/bash_completion.d/bumblebee \
	   debian/bumblebee/usr/share/bash-completion/completions/
	rm -rf debian/bumblebee/etc/bash_completion.d/
	
ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
	# On Ubuntu modprobe remove line is not present, which breaks module
	# unloading; https://github.com/Bumblebee-Project/Bumblebee/issues/681
	echo "# Workaround to make sure nvidia-uvm is removed as well" >> debian/bumblebee/usr/share/bumblebee/default-conf/bumblebee.conf
	echo "remove nvidia rmmod nvidia-uvm nvidia" >> debian/bumblebee/usr/share/bumblebee/default-conf/bumblebee.conf
endif

override_dh_installinit:
	dh_installinit --name=bumblebeed

override_dh_strip:
	dh_strip --dbg-package=bumblebee-dbg
