Source: bumblebee
Section: utils
Priority: extra
Maintainer: The Bumblebee Project <bumblebee@lists.launchpad.net>
Uploaders: Peter Lekensteyn <lekensteyn@gmail.com>,
 Bruno Pagani <bruno.n.pagani@gmail.com>
Build-Depends: debhelper (>= 9), libbsd-dev (>= 0.2.0), pkg-config,
 libx11-dev, libglib2.0-dev, help2man, dh-systemd (>= 1.4)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/~bumblebee
Vcs-Browser: https://github.com/Bumblebee-Project/Bumblebee
Vcs-Git: git://github.com/Bumblebee-Project/Bumblebee.git

Package: bumblebee
Architecture: i386 amd64
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${shlibs:Depends}, ${misc:Depends}, bbswitch-dkms | bbswitch-source
Recommends: bumblebee-nvidia (= ${binary:Version}), virtualgl | primus
Description: NVIDIA Optimus support
 Bumblebee aims to provide support for NVIDIA Optimus laptops. These laptops
 are built in such a way that the NVIDIA graphics card can usually not be used.
 With Bumblebee, a X server for the NVIDIA card is started and frames are
 transferred to the Intel GPU using VirtualGL. Power saving is accomplished with
 the bbswitch kernel module. Supported drivers are nvidia and nouveau.

Package: bumblebee-nvidia
Section: contrib/utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bumblebee (= ${binary:Version}),
# proprietary NVIDIA packages in Debian
 nvidia-driver | nvidia-glx | nvidia-kernel-dkms | nvidia-kernel-amd64 | 
 nvidia-kernel-686-pae | nvidia-kernel-486 |
# proprietary NVIDIA packages in Ubuntu
 nvidia | nvidia-current | nvidia-current-updates | nvidia-driver-binary |
 nvidia-304 | nvidia-304-updates | nvidia-experimental-304 |
 nvidia-310 | nvidia-310-updates | nvidia-experimental-310 |
 nvidia-313 | nvidia-313-updates | nvidia-experimental-313 |
 nvidia-319 | nvidia-319-updates | nvidia-experimental-319 |
 nvidia-325 | nvidia-325-updates | nvidia-experimental-325 |
 nvidia-331 | nvidia-331-updates | nvidia-experimental-331 |
 nvidia-334 | nvidia-334-updates | nvidia-experimental-334 |
 nvidia-337 | nvidia-337-updates | nvidia-experimental-337 |
 nvidia-340 | nvidia-340-updates | nvidia-experimental-340 |
 nvidia-343 | nvidia-343-updates | nvidia-experimental-343
Description: NVIDIA Optimus support using the proprietary NVIDIA driver
 This metapackage ensures that the proprietary NVIDIA driver is installed in a
 way such that 3D acceleration does not break. It does so by configuring the
 OpenGL library path to use the Mesa graphics library.

Package: bumblebee-dbg
Architecture: i386 amd64
Section: debug
Depends: ${misc:Depends}, bumblebee (= ${binary:Version})
Description: NVIDIA Optimus support - debugging symbols
 This package contains the debugging symbols for bumblebee.
