Source: primus
Section: utils
Priority: extra
Maintainer: The Bumblebee Project <bumblebee@lists.launchpad.net>
Uploaders: Bruno Pagani <bruno.n.pagani@gmail.com>,
 Dmitry Zhurikhin <zhurikhin@gmail.com>
Build-Depends: debhelper (>= 9), mesa-common-dev
Standards-Version: 3.9.4
Homepage: https://github.com/amonakov/primus
Vcs-Browser: https://github.com/amonakov/primus
Vcs-Git: git://github.com/amonakov/primus.git

Package: primus
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bumblebee,
 primus-libs (= ${binary:Version})
Recommends: primus-libs-ia32 [amd64]
Suggests: primus-nvidia
Description: client-side GPU offloading for NVIDIA Optimus
 Primus is a shared library that provides OpenGL and GLX APIs and implements
 low-overhead local-only client-side OpenGL offloading via GLX forking,
 similar to VirtualGL. It intercepts GLX calls and redirects GL rendering to a
 secondary X display, presumably driven by a faster GPU. On swapping buffers,
 rendered contents are read back using a PBO and copied onto the drawable it was
 supposed to be rendered on in the first place.
 .
 Basically primus gives better performance than virtualgl as bumblebee back-end.
 .
 Primus is currently intended to be used alongside Bumblebee and provides a
 drop-in replacement for optirun (i.e. "primusrun").

Package: primus-nvidia
Section: contrib/utils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bumblebee-nvidia,
 primus-libs (>= ${source:Version}), primus (>= ${binary:Version})
Description: client-side GPU offloading for Bumblebee (proprietary NVIDIA driver)
 This metapackage sets primusrun to use the proprietary NVIDIA driver.

Package: primus-libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Shared libraries for primus
 This package contains the libraries for primus which are loaded when running
 primusrun.

Package: primus-libs-ia32
Architecture: i386
Depends: primus-libs, ${misc:Depends}
Multi-Arch: foreign
Description: Shared libraries for primus (32-bit)
 This package depends on 32-bit libraries for primus. It can safely be
 removed after installation.

Package: primus-libs-dbg
Architecture: i386 amd64
Section: debug
Depends: primus-libs (=${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Shared libraries for primus - debugging symbols
 This package contains the libraries for primus which are loaded when running
 primusrun.
 .
 This package contains the debugging symbols for primus-libs.
