#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

INSTALL_OPTS=--sbindir=/usr/sbin --bindir=/usr/bin \
	--libdir=/usr/lib/bumblebee --driver=nouveau,nvidia
%:
	dh $@ 

build:
	./install $(INSTALL_OPTS) --actions=build

override_dh_install:
	./install $(INSTALL_OPTS) --actions=install --dest-dir=debian/bumblebee
