#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	./configure --prefix=/usr --confdir=/etc --driver=nouveau,nvidia \
		--nv-lib-path=/usr/lib/nvidia-current \
		--nv-lib32-path=/usr/lib32/nvidia-current \
		--xorg-module-path=/usr/lib/nvidia-current/xorg

override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/bumblebee
	cd $(CURDIR)/debian/bumblebee && \
		install -D -m 755 usr/share/bumblebee/bumblebee.handler etc/init.d/bumblebee && \
		install -D -m 644 usr/share/bumblebee/optirun.bash_completion etc/bash_completion.d/optirun
